In [6]:
import pandas as pd
import numpy as np
# Sample data
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Frank', 'Grace', 'Hannah', 'Ivy', 'Jack'],
    'Age': [25, 30, 35, 40, 22, 28, 33, 38, 26, 31]
}

# Creating the DataFrame
df = pd.DataFrame(data)

# Setting custom indices
df.index = ['r1', 'r2', 'r3', 'row4', 'row5', 'row6', 'r7', 'r8', 'r9', 'row10']

print(df)

          Name  Age
r1       Alice   25
r2         Bob   30
r3     Charlie   35
row4     David   40
row5       Eva   22
row6     Frank   28
r7       Grace   33
r8      Hannah   38
r9         Ivy   26
row10     Jack   31

In [10]:
g = df.groupby(df.index.str.len())
# g.aggregate({'Name': len, 'Age' : np.sum})
g.aggregate({'Name': len, 'Age' : np.sum})

C:\Users\premt\AppData\Local\Temp\ipykernel_12132\2296684671.py:3: FutureWarning: The provided callable <function sum at 0x00000196643EC9A0> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  g.aggregate({'Name': len, 'Age' : np.sum})

   Name  Age
2     6  187
4     3   90
5     1   31